/*Monochromatic*/

body {
    --hue: 34;
    --sat: 30;
    --lit: 60;
    --main: hsl(var(--hue), calc(var(--sat)*1%), calc(var(--lit)*1%));
    --header: hsl(var(--hue), 60%, 30%);
    --sidebar-hue: calc(var(--hue) - 60);
    --sidebar: hsl(var(--sidebar-hue), 60%, 60%);
    --footer-hue: calc(var(--hue) + 60);
    --footer: hsl(var(--footer-hue), 60%, 60%);
}

#posts .post {
    border: 2px solid var(--main);
}

#posts .post-text {
    color: var(--one);
}

#posts .post-author,
.posts .post-date {
    color: var(--two);
}

#header {
    color: var(--header);
}

#sidebar {}

#sidebar {
    color: var(--sidebar);
}

#footer {
    color: var(--footer);
}