/*Monochromatic*/

body {
    --hue: 240;
    --sat: 50;
    --lit: 50;
    --main: hsl(var(--hue), calc(var(--sat)*1%), calc(var(--lit)*1%));
    --header: hsl(var(--hue), 60%, 30%);
    --sidebar-hue: calc(var(--hue) - 60);
    --sidebar: hsl(var(--sidebar-hue), 60%, 60%);
    --footer-hue: calc(var(--hue) + 60);
    --footer: hsl(var(--footer-hue), 60%, 60%);
}

#posts .post {
    border: 2px solid var(--main);
    --saturation: calc(var(--sat) + 20);
    --one: hsl(calc(var(--hue)), calc(var(--saturation) * 1%), calc(var(--lit) * 1%));
    ;
}

#posts .post-text {
    color: var(--one);
}

#posts .post-author,
.posts .post-date {
    color: var(--two);
}

#header {
    color: var(--header);
}

#sidebar {
    color: var(--sidebar);
}

#footer {
    color: var(--footer);
}

-