/* #container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
*/ 

#container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 120px max-content max-content;
	grid-template-areas:
		"header header header"
		"main main sidebar"
		"footer footer footer";
}

#header {
	grid-area: header;
}

#main {
	grid-area: main;
}

#sidebar {
	grid-area: sidebar;
}

#footer {
	grid-area: footer;
}