@import url('https://fonts.googleapis.com/css?family=Charmonman:700');

/*
	font-family: 'Charmonman', cursive;
*/

body {
	font-size: 18px;
	line-height: 2;
}

/* font pairing 1 */
.post .post-text {
	font-family: 'Charmonman', cursiveß;
	font-size: 1.1em;
}

.post .post-info {
	font-family: 'Charmonman', cursive;
	font-size: 0.8em;
	/*color: gray;*/
}

.post .post-author {
	/*color: blue;*/
}

.post .post-date {
	font-weight: 700;
}

/* font pairing 2 */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext');

/*
	font-family: 'Bree Serif', serif;
*/
post .post-text {
	font-family: 'Bree Serif', serif;
	font-size: 1.1em;
}

.post .post-info {
	font-family: 'Bree Serif', serif;
	font-size: 0.8em;
	/*color: violet;*/
}

.post .post-author {
	c/*olor: lightpink;*/
}

.post .post-date {
	font-weight: 700;
}

/* font pairing 3 */
@import url('https://fonts.googleapis.com/css?family=Quando&subset=latin-ext');
/*
font-family: 'Quando', serif;
*/


post .post-text {
	font-family: 'Quando', serif;
	font-size: 1.1em;
}

.post .post-info {
	font-family: 'Quando', serif;
	font-size: 0.8em;
	/*color: paleturquoise;*/
}

.post .post-author {
	/*color: olivedrab;*/
}

.post .post-date {
	font-weight: 500;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   
}
